fair_esm==2.0.0
fitz==0.0.1.dev2
gensim==4.3.3
huggingface_hub==0.34.4
matplotlib==3.10.7
mordred==1.2.0
numpy==2.3.5
pandas==2.3.3
pdf2image==1.17.0
rdkit==2024.3.6
Requests==2.32.5
safetensors==0.6.2
scikit_learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
torch==2.2.2
tqdm==4.67.1
transformers==4.56.1
